/* body {
    padding-top: 60px;
} */

.container-fluid {
    padding: 60px 0;
}

/* Jumbotron */

.jumbotron-fluid {
    padding: 15%;
    margin-bottom: 0;
    text-align: center;
}

/* Section A */

.a-div {
    height: 450px;
}

#a1 {
    background: black;
}
#a2 {
    background: blue;
}
#a3 {
    background: yellowgreen;
}

/* Section B */

/* Section C */

.c-jumbo {
    background: url('https://placehold.it/1500x400');
    width: 100%;
    height: 500px;
}